// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.hint-text {
    color: $govuk-secondary-text-colour;
}

.right-align {
    text-align: right;
}

.govuk-grid-row {
	a {
		&:visited {
			color: $govuk-link-colour !important;
		}
	}
	.govuk-back-link {
		&:visited {
			color: $govuk-text-colour !important;
		}
	}
}

.list-entry-remove {
	background-color: #dee0e2;
	color: $govuk-text-colour;
	&:hover {
		background-color: #d0d3d6;
		color: $govuk-text-colour;
	}
	&:visited {
		background-color: #dee0e2;
		color: $govuk-text-colour;
	}
	&:active {
		background-color: #dee0e2;
		color: $govuk-text-colour;
	}
	&:focus {
		background-color: #dee0e2;
		color: $govuk-text-colour;
	}
}

.delete-link {
	color: 	#b10e1e !important;
	&:hover {
		color: 	#b10e1e !important;
	}
}