{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class='govuk-heading-l'>Upload a product testing file</h1>
      <form action="/notification/summary" method="post" class="form">
        {{ govukFileUpload({
          id: "product-testing-file",
          name: "product-testing-file",
          label: {
            text: "Details of the product testing"
          },
          hint: {
            text: "File type must be .csv .json .xml .xlsx .pdf .docx"
          }
        }) }}
        <button class="govuk-button">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}