{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class='govuk-heading-l'>
        Upload tracebility document
      </h1>
      <form action="/notification/summary" method="post" class="form">
        {{ govukFileUpload({
          id: "traceability-doc",
          name: "traceability-doc",
          fieldset: {
            label: {
              text: "Upload a technical file",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "File type must be .csv .json .xml .xlsx .pdf .docx"
          }
        }) }}
        <button class="govuk-button">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}