{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/notification/summary" method="post" class="form">
        {{ govukInput({
            label: {
              text: "Your unique reference number",
              isPageHeading: true,
              classes: "govuk-label--l"
            },
            hint: {
              text: "This is the case number from your system, use it to help you find your report in the future."
            },
            id: "unique-ref-number",
            name: "unique-ref-number"
          }) }}
        <button class="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}