{% extends "layout.html" %}

{% block pageTitle %}
  CACS case number
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/check-your-answers" method="post" class="form">
        {{ govukInput({
          id: "cacs-case-number",
          name: "cacs-case-number",
          classes: "govuk-!-width-one-third",
            label: {
              text: "Citizens Advice Consumer Service case number",
              isPageHeading: true,
              classes: "govuk-label--l"
            }
        }) }}

        <button class="govuk-button">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}