{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "/"
      }) }}
      <h1 class="govuk-heading-l govuk-!-padding-top-6">
        {{ data['product-name'] }}
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m govuk-!-padding-top-6">
        Case
      </h2>

      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Case number
          </dt>
          <dd class="app-check-your-answers__answer">
            {% if data['do-you-have-case-number'] === 'yes' %}
              {{ data['case-number']}}
            {% else %}
              <span class="hint-text">Optional</span>
            {% endif %}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="case-number">
              {% if data['do-you-have-case-number'] === 'yes' %}
                Change<span class="govuk-visually-hidden"> Case number</span>
              {% else %}
                Add<span class="govuk-visually-hidden"> Case number</span>
              {% endif %}
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Uploaded file
          </dt>
          <dd class="app-check-your-answers__answer">
            {% if data['do-you-have-a-report'] === 'yes' %}
              {{ data['upload-report']}}
            {% else %}
              No file uploaded
            {% endif %}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="do-you-have-a-report">
              Change<span class="govuk-visually-hidden"> file</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            CACS case number
          </dt>
          <dd class="app-check-your-answers__answer">
            {% if data['cacs-case-number'] %}
              {{ data['cacs-case-number']}}
            {% else %}
              <span class="hint-text">Optional</span>
            {% endif %}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="cacs-case-number">
              {% if data['cacs-case-number'] %}
                Change<span class="govuk-visually-hidden"> CACS case number</span>
              {% else %}
                Add<span class="govuk-visually-hidden"> CACS case number</span>
              {% endif %}
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m govuk-!-padding-top-6">
        Incident
      </h2>

      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Incident severity
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['how-severe-is-your-case']}}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="incident-severity">
              Change<span class="govuk-visually-hidden"> severity</span>
            </a>
          </dd>
        </div>
      </dl>

      {{ required_field("Description of incident", "description-of-incident") }}

      <h2 class="govuk-heading-m govuk-!-padding-top-6">
        Product
      </h2>

      {{ required_field("Product name", "product-name") }}

      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Product categories
          </dt>
          <dd class="app-check-your-answers__answer">
            {% if data | anyCategories %}
              <ul class="govuk-list govuk-list--bullet">
                {% for category in data | getCategories %}
                  <li>{{ category }}</li>
                {% endfor %}
              </ul>
            {% elif data['do-you-have-a-report'] === 'yes' %}
              <span class="hint-text">Optional</span>
            {% else %}
              <span class="hint-text">Required if no case file attached</span>
            {% endif %}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="product-categories">
              {% if data | anyCategories %}
                Change<span class="govuk-visually-hidden"> categories</span>
              {% else %}
                Add<span class="govuk-visually-hidden"> categories</span>
              {% endif %}
            </a>
          </dd>
        </div>
      </dl>

      {{ required_field("Product model number", "product-model-number") }}

      
      <h2 class="govuk-heading-m govuk-!-padding-top-6">
        Business
      </h2>

      {{ required_field("Business name", "business-name") }}
      {{ required_address_field("Registered address", "registered") }}
      {{ required_address_field("Trading address", "trading") }}
      {{ required_field("Primary contact name", "primary-contact-name") }}
      {{ required_field("Email address", "email-address") }}
      {{ required_field("Website", "website") }}
      {{ required_field("Phone number", "phone-number") }}

      <div class="govuk-!-margin-top-6">
        <a href="/delete-report">Delete incident report</a>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      {% if data['do-you-have-a-report'] === 'yes' %}
        <form action="/confirmation-page" method="post">
          <input type="checkbox" name="confirmed" checked="true" class="govuk-visually-hidden"></input>
          <button class="govuk-button govuk-!-margin-top-6">
            Submit incident report
          </button>
        </form>
      {% else %}
        <p class="govuk-!-margin-top-6">
          To submit the report, attach a case file or answer all of the required questions.
        </p>
      {% endif %}
    </div>
  </div>

{% endblock %}

{% macro required_field(name, key, optional_with_file=true, required_text="Required if no case file attached") %}
  <dl class="app-check-your-answers app-check-your-answers--short">
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ name }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {% if data[key] %}
          {{ data[key] }}
        {% elif data['do-you-have-a-report'] === 'yes' and optional_with_file %}
          <span class="hint-text">Optional</span>
        {% else %}
          <span class="hint-text">{{ required_text }}</span>
        {% endif %}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="{{key}}">
          {% if data[key] %}
            Change<span class="govuk-visually-hidden"> {{ name }}</span>
          {% else %}
            Add<span class="govuk-visually-hidden"> {{ name }}</span>
          {% endif %}
        </a>
      </dd>
    </div>
  </dl>
{% endmacro %}

{% macro required_address_field(name, key) %}
  <dl class="app-check-your-answers app-check-your-answers--short">
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ name }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {% if data[key + "-address-line-1"] %}
          <p>
            {{ data[key + "-address-line-1"] }}<br />
            {{ data[key + "-address-line-2"] }}<br />
            {{ data[key + "-address-town"] }}<br />
            {{ data[key + "-address-county"] }}<br />
            {{ data[key + "-address-postcode"] }}
          </p>
        {% elif data['do-you-have-a-report'] === 'yes' %}
          <span class="hint-text">Optional</span>
        {% else %}
          <span class="hint-text">Required if no case file attached</span>
        {% endif %}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="{{key}}-address">
          {% if data[key + "-address-line-1"] %}
            Change<span class="govuk-visually-hidden"> {{ name }}</span>
          {% else %}
            Add<span class="govuk-visually-hidden"> {{ name }}</span>
          {% endif %}
        </a>
      </dd>
    </div>
  </dl>
{% endmacro %}