{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block content %}

  <div class="govuk-govuk-grid-row">
    <div class="govuk-grid-govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check your answers before sending your application
      </h1>

      <h2 class="govuk-heading-m">
        Basic details
      </h2>
      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Incident severity
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['how-severe-is-your-case']}}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="incident-severity">
              Change<span class="govuk-visually-hidden"> severity</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Uploaded file
          </dt>
          <dd class="app-check-your-answers__answer">
            {% if data['do-you-have-a-report'] === 'yes' %}
              {{ data['upload-report']}}
            {% else %}
              No file uploaded
            {% endif %}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="do-you-have-a-report">
              Change<span class="govuk-visually-hidden"> file</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            CACS case number
          </dt>
          <dd class="app-check-your-answers__answer">
            {% if data['do-you-have-cacs-number'] === 'yes' %}
              {{ data['cacs-case-number']}}
            {% else %}
              No case number
            {% endif %}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="cacs-case-number">
              Change<span class="govuk-visually-hidden"> CACS case number</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        Business details
      </h2>

      {{ required_field("Business name", "business-name") }}
      {{ required_address_field("Registered address", "registered") }}
      {{ required_address_field("Trading address", "trading") }}
      {{ required_field("Primary contact name", "primary-contact-name") }}
      {{ required_field("Email address", "email-address") }}
      {{ required_field("Website", "website") }}
      {{ required_field("Phone number", "phone-number") }}

      <h2 class="govuk-heading-m">
        Product details
      </h2>

      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Product categories
          </dt>
          <dd class="app-check-your-answers__answer">
            {% if data | anyCategories %}
              {{ data | getCategoriesString }}
            {% elif data['do-you-have-a-report'] === 'yes' %}
              <span class="hint-text">Optional</span>
            {% else %}
              <span class="hint-text">Required if no case file attached</span>
            {% endif %}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="product-categories">
              {% if data[key] %}
                Change<span class="govuk-visually-hidden"> categories</span>
              {% else %}
                Add<span class="govuk-visually-hidden"> categories</span>
              {% endif %}
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        Incident details
      </h2>

      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Incident severity
          </dt>
          <dd class="app-check-your-answers__answer">
            {{ data['how-severe-is-your-case']}}
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="incident-severity">
              Change<span class="govuk-visually-hidden"> severity</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <a class="govuk-button" href="confirmation-page" role="button">
        Send incident report
      </a>
    </div>
  </div>

{% endblock %}

{% macro required_field(name, key) %}
  <dl class="app-check-your-answers app-check-your-answers--short">
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ name }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {% if data[key] %}
          {{ data[key] }}
        {% elif data['do-you-have-a-report'] === 'yes' %}
          <span class="hint-text">Optional</span>
        {% else %}
          <span class="hint-text">Required if no case file attached</span>
        {% endif %}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="{{key}}">
          {% if data[key] %}
            Change<span class="govuk-visually-hidden"> {{ name }}</span>
          {% else %}
            Add<span class="govuk-visually-hidden"> {{ name }}</span>
          {% endif %}
        </a>
      </dd>
    </div>
  </dl>
{% endmacro %}

{% macro required_address_field(name, key) %}
  <dl class="app-check-your-answers app-check-your-answers--short">
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        {{ name }}
      </dt>
      <dd class="app-check-your-answers__answer">
        {% if data[key + "-address-line-1"] %}
          <p>
            {{ data[key + "-address-line-1"] }}<br />
            {{ data[key + "-address-line-2"] }}<br />
            {{ data[key + "-address-town"] }}<br />
            {{ data[key + "-address-county"] }}<br />
            {{ data[key + "-address-postcode"] }}
          </p>
        {% elif data['do-you-have-a-report'] === 'yes' %}
          <span class="hint-text">Optional</span>
        {% else %}
          <span class="hint-text">Required if no case file attached</span>
        {% endif %}
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="{{key}}-address">
          {% if data[key + "-address-line-1"] %}
            Change<span class="govuk-visually-hidden"> {{ name }}</span>
          {% else %}
            Add<span class="govuk-visually-hidden"> {{ name }}</span>
          {% endif %}
        </a>
      </dd>
    </div>
  </dl>
{% endmacro %}