{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/check-your-answers-other-support" method="post" class="form">
        {{ govukTextarea({
            label: {
              text: "What support would you like?",
              isPageHeading: true,
              classes: "govuk-label--l"
            },
            id: "description-of-other-support",
            name: "description-of-other-support"
          }) }}

        <button class="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}