{% extends "layout.html" %}

{% block pageTitle %}
  Description of incident
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/check-your-answers" method="post" class="form">
        {{ govukTextarea({
            label: {
              text: "Description of incident",
              isPageHeading: true,
              classes: "govuk-label--l"
            },
            id: "description-of-incident",
            name: "description-of-incident"
          }) }}

        <button class="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}