{% extends "layout.html" %}

{% block pageTitle %}
  Distributor website
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/check-your-answers" method="post" class="form">
        {{ govukInput({
            label: {
              text: "Distributor website",
              isPageHeading: true,
              classes: "govuk-label--l"
            },
            id: "distributor-website",
            name: "distributor-website"
          }) }}

        <button class="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}