{% extends "layout.html" %}

{% block pageTitle %}
  Report a product safety incident
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Report a product safety incident
      </h1>
      <p>
        Report product safety incidents to The Office for Product Safety and Standards (OPSS).
      </p>
      <h2 class='govuk-heading-m'>
        Severe incidents
      </h2>
      <p>
        You must report all severe product safety incidents. <a href='#'>Read about incident severity</a>. Severe incidents will be responded to within 24 hours.
      </p>
      <h2 class='govuk-heading-m'>
        Serious or routine incidents
      </h2>
      <p class='govuk-!-padding-bottom-6'>
        You can report other product safety incidents to improve the data we have to identify areas of risk to consumers and coordinate action.
      </p>
      <p>
        <a href="incident-severity" class="govuk-button govuk-button--start" role="button">Start now</a>
      </p>
      <h2 class='govuk-heading-s'>
        Consumer advice
      </h2>
      <p>
        If you have a complaint or want advice about a product you purchased, contact <a href='https://www.citizensadvice.org.uk/consumer/get-more-help/report-to-trading-standards/'>Citizens Advice</a>.
      </p>      
    </div>
</div>

{% endblock %}