{% extends "layout.html" %}

{% block pageTitle %}
  Report a product safety incident
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
        Product safety reporting and support 
      </h1>

      <h2 class="govuk-heading-m"><a href="#">Get support</a></h2>
      <p>
        Advice on legislation or support with product testing or anything where national coordination is necessary.
      </p>

      <h2 class="govuk-heading-m"><a href="#">View OPSS case database</a></h2>
      <p>
        Cases reported to OPSS and EU data from <a href="https://ec.europa.eu/consumers/consumers_safety/safety_products/rapex/alerts/?event=main.listNotifications">RAPEX</a> and <a href="https://webgate.ec.europa.eu/icsms/">ICSMS</a>.
      </p>      

      <h2 class="govuk-heading-m"><a href="product-name">Create an incident report</a></h2>
      {% if not data['confirmed'] and not data['product-name'] %}
        <p>
          You must report all severe product safety incidents. Severe incidents will be responded to within 24 hours.
        </p>
        <p class='govuk-!-padding-bottom-6'>
          Report other product safety incidents to improve the data we have to identify areas of risk to consumers and coordinate action.
        </p>
      {% endif %}
    </div>

    <div class="govuk-grid-column-full">
      {% if data['confirmed'] %}
        <h3 class="govuk-heading-m govuk-!-margin-top-6">
          Submitted reports
        </h3>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-visually-hidden">Submitted reports</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Product name</th>
              <th class="govuk-table__header" scope="col">Case number</th>
              <th class="govuk-table__header" scope="col">Date submitted</th>
              <th class="govuk-table__header" scope="col">OPSS reference</th>
              <th class="govuk-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ data['product-name'] }}</td>
              <td class="govuk-table__cell">
                {% if data['do-you-have-case-number'] === 'yes' %}
                  {{ data['case-number'] }}
                {% else %}
                  &mdash;
                {% endif %}
              </td>
              <td class="govuk-table__cell">24/07/2018</td>
              <td class="govuk-table__cell">HDJ2123F</td>
              <td class="govuk-table__cell right-align"><a href="/check-your-answers">View</a></td>
            </tr>
          </tbody>
        </table>
      {% elif data['product-name'] %}
        <h3 class="govuk-heading-m govuk-!-margin-top-6">
          Reports in progress
        </h3>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-visually-hidden">Reports in progress</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Product name</th>
              <th class="govuk-table__header" scope="col">Case number</th>
              <th class="govuk-table__header" scope="col">Date created</th>
              <th class="govuk-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ data['product-name'] }}</td>
              <td class="govuk-table__cell">
                {% if data['do-you-have-case-number'] === 'yes' %}
                  {{ data['case-number'] }}
                {% else %}
                  &mdash;
                {% endif %}
              </td>
              <td class="govuk-table__cell">24/07/2018</td>
              <td class="govuk-table__cell right-align"><a href="/check-your-answers">View</a></td>
            </tr>
          </tbody>
        </table>
      {% endif %}
    </div>
</div>

{% endblock %}