{% extends "layout.html" %}

{% block pageTitle %}
  Description of risk
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/test-needs" method="post" class="form">
        {{ govukTextarea({
            label: {
              text: "Product description",
              isPageHeading: true,
              classes: "govuk-label--l"
            },
            id: "product-description",
            name: "product-description"
          }) }}

        <button class="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}