{% extends "layout.html" %}

{% block pageTitle %}
  Product categories
  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/check-your-answers" method="post" class="form">
        {{ govukCheckboxes({
          idPrefix: "product-categories",
          name: "product-categories",
          fieldset: {
            legend: {
              text: "Product categories",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
                value: "toys",
                text: "Toys"
            },
            {
                value: "clothing",
                text: "Clothing"
            },
            {
                value: "motor-vehicles",
                text: "Motor vehicles"
            },
            {
                value: "electrical-appliances-and-equipment",
                text: "Electrical appliances and equipment"
            },
            {
                value: "cosmetics",
                text: "Cosmetics"
            },
            {
                value: "lighting-equipment",
                text: "Lighting equipment"
            },
            {
                value: "childcare-articles-and-childrens-equipment",
                text: "Childcare articles and children's equipment"
            },
            {
                value: "chemical-products",
                text: "Chemical products"
            },
            {
                value: "lighting-chains",
                text: "Lighting chains"
            },
            {
                value: "hobby-sports-equipment",
                text: "Hobby/sports equipment"
            },
            {
                value: "protective-equipment",
                text: "Protective equipment"
            },
            {
                value: "lighters",
                text: "Lighters"
            },
            {
                value: "jewellery",
                text: "Jewellery"
            },
            {
                value: "machinery",
                text: "Machinery"
            },
            {
                value: "food-imitating-products",
                text: "Food-imitating products"
            },
            {
                value: "decorative-articles",
                text: "Decorative articles"
            },
            {
                value: "laser-pointers",
                text: "Laser pointers"
            },
            {
                value: "furniture",
                text: "Furniture"
            },
            {
                value: "communication-and-media-equipment",
                text: "Communication and media equipment"
            },
            {
                value: "kitchen-cooking-accessories",
                text: "Kitchen/cooking accessories"
            },
            {
                value: "pyrotechnic-articles",
                text: "Pyrotechnic articles"
            },
            {
                value: "construction-products",
                text: "Construction products"
            },
            {
                value: "gas-appliances-and-components",
                text: "Gas appliances and components"
            },
            {
                value: "recreational-crafts",
                text: "Recreational crafts"
            },
            {
                value: "stationery",
                text: "Stationery"
            },
            {
                value: "gadgets",
                text: "Gadgets"
            },
            {
                value: "hand-tools",
                text: "Hand tools"
            },
            {
                value: "pressure-equipment-vessels",
                text: "Pressure equipment/vessels"
            },
            {
                value: "lifts",
                text: "Lifts"
            },
            {
                value: "explosive-atmospheres-equipment",
                text: "Explosive atmospheres equipment"
            },
            {
                value: "measuring-instruments",
                text: "Measuring instruments"
            },
            {
                value: "other",
                text: "Other"
            }
          ]
        }) }}

        <button class="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}