{% extends "layout.html" %}

{% block pageTitle %}
  Product name
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/case-number" method="post" class="form">
        {{ govukInput({
            label: {
              text: "Product name",
              isPageHeading: true,
              classes: "govuk-label--l"
            },
            hint: {
              text: "If you don’t know the name, use a short description."
            },
            id: "product-name",
            name: "product-name"
          }) }}

        <button class="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}