{% extends "layout.html" %}

{% block pageTitle %}
  Product model number
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/check-your-answers" method="post" class="form">
        {{ govukInput({
            label: {
              text: "Product bar code or batch number",
              isPageHeading: true,
              classes: "govuk-label--l"
            },
            id: "product-bar-code",
            name: "product-bar-code"
          }) }}

        <button class="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}