{% extends "layout.html" %}

{% block pageTitle %}
  Product model number
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/check-your-answers" method="post" class="form">
        {{ govukInput({
            label: {
              text: "Recall website",
              isPageHeading: true,
              classes: "govuk-label--l"
            },
            id: "recall-url",
            name: "recall-url"
          }) }}

        <div class="govuk-form-group list-entry">
          <button type="button" class="govuk-button list-entry-remove">
            Add another website address
          </button>
        </div>

        <button class="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}