{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/testing-type" method="post" class="form">
      {{ govukRadios({
        idPrefix: "support-type",
        name: "support-type",
        fieldset: {
          legend: {
            text: "What type of support do you want?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "product-testing",
            text: "Product testing"
          },
          {
            value: "support-with-an-investigation",
            text: "Support with an investigation"
          },
          {
            value: "advice-on-legislation-or-regulation",
            text: "Advice on legislation or regulation"
          },
          {
            value: "other",
            text: "Other"
          }
        ]
      }) }}
        <button class="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}