{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/check-your-answers-testing" method="post" class="form">
        {{ govukTextarea({
            label: {
              text: "Why you need the product tested and any expected outcomes",
              isPageHeading: true,
              classes: "govuk-label--l"
            },
            id: "test-needs",
            name: "test-needs"
          }) }}

        <button class="govuk-button">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}